
p-card {
  background: var(--card-bg);
  border: 1px solid var(--card-border);
  height: 100%;
}

p-tag {
  background-color: var(--tag-bg);
  border: 1px solid var(--tag-border);
  color: var(--tag-text-color);
  font-size: 0.75rem;
  padding: 1px 6px;
  font-weight: 500;
}

p-tag.subordinate {
  background-color: var(--tag-bg);
  margin-top: 8px;
}

p-tag.referent {
  background-color: var(--tag-bg);
  margin-top: 8px;
}

.p-card-title {
  font-weight: 800;
  color: var(--card-title-color);
}

a.email {
  color: var(--email-color);
}

i {
  color: var(--icon-color);
  font-size: 0.9rem;
}